<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Expense Tracker{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1><a href="/">Expense Tracker</a></h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

</body>
</html>
